
body, h1, ul, li, a, button, input, form {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: white;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon {
    width: 40px;
    height: 40px;
    display: flex;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.hero {
    position: relative;
    height: 80vh;
    background: url('./mountainn.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero-content {
    z-index: 1;
}

.hero h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.btn {
    background: #FF5722;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.search-box {
    position: absolute;
    bottom: -20px;
    background: white;
    padding: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
}

.search-box form {
    width: 100%;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-row label {
    flex: 1;
    text-align: left;
    margin-right: 10px;
    color: #000;
}

.form-row input {
    flex: 2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.search-box button {
    width: 100%;
    padding: 10px;
    background: #FF5722;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.search-box button:hover {
    background: #E64A19;
}
